:root {
    --primary-bg-color: hsl(217, 19%, 24%);
    --primary-color: hsl(150, 100%, 66%);
  }

  .body {
    display: flex;
    height: 100vb;
  }
  p{
    margin: 15px 0;
  }
  .advice-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: fit-content;
    padding: 30px;
    background-color: var(--primary-bg-color);
    margin: auto;
    color: white;
    font-family: "Itim", cursive;
    font-family: "Manrope", sans-serif;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    border-radius: 10px;
    width: 440px;

  }

  .advice-id {
    color:var(--primary-color);
    font-size: smaller;
  }

  .advice {
    color: hsl(193, 38%, 86%);
    text-align: center;
  }
 
  .new-advice{
    border-radius: 50%;
    position: absolute;
    bottom: -25px;
    height: 70px;
    width: 70px;
    background-color:var(--primary-color);
    border: 0px;
    }

    .new-advice:hover{
      
      box-shadow: 0px 0px 50px var(--primary-color);
      cursor: pointer;

    }

    .dice{
      margin: auto;
    }



    @media screen and (max-width:499px) {
      .advice-container{
        width: 335px;
        padding: 20px;
      }
    }